@import "tailwindcss";


/* Design system
    CSS TOKENS
*/
@theme {
    --color-gryffindor: #7f0909;
    --color-slytherin:  #1a472a;
    --color-ravenclaw:  #0e1a40;
    --color-hufflepuff: #ecb939;

    --color-bg: #fafafa;
    --color-fg: #1a1a1a;
    --color-muted: #6b6280;
}

@layer components {
    .character-card {
        & img {
            border-radius: 50%;
        }

        & h3 {
            font-weight: 600;
        }

        /* Los personajes muertos se oscurecen */
        &:has(.character-card__rip) {
            opacity: 0.6;
            filter: grayscale(30%)
        }
    }
}